@import "~react-image-gallery/styles/css/image-gallery.css";


 /* *{
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}  */
.about{
  font-size: 20px;
}

.baseCSS{
  align-items: center;
  border-color: white;;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
  margin: 2% 8%;
  background-color: #9fc7aa;
}

.figs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
 text-align: center;
 text-decoration: none;
 list-style: none;
 padding: 5px;
 border: white;
 border-width: 3px;
 border-style: solid;
 border-radius: 20px;
}

.footer img{
  border: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}

.heading{
  background-color: #d49fff;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  font-size: xx-large;
}

h2 a {
  color: #233059;;
  background-color: white;
}

a:hover {
  color: #d49fff;
}
a{
  color: #233059;
  background-color: white;
  padding: 5px;
  border: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
}

.icon{
  height: 50px;
}

.images{
  height: 100px;
}

.nav {
  margin: 10px;
  padding: 1%;
  display: inline-flex;
  background-color: white;
  font-size: 20px;
}

.navBar {
  text-align: center;
}

.navBar a {
  font-size: 30px;
  font-weight: bold;
  color: #9fc7aa;
  text-decoration: none;
  border: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
}

p{
  text-indent: 45px;
}

.pageHead{
  width: 100%;
}
.projLink {
  padding: 5px;
  border: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
}

.resume{
  align-items: center;
}

.resumeJPG {
  width: 50%;
}