@import "~react-image-gallery/styles/css/image-gallery.css";


/* *{
  border-style: solid;
  border-width: 2px;
  border-color: blue;
} */

.baseCSS{
  align-items: center;
  border-color: #008a60;;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
  margin: 1% 2%;
}

.figs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #ff007f;
 text-align: center;
 text-decoration: none;
 list-style: none;
 padding: 5px;
 border: white;
 border-width: 3px;
 border-style: solid;
 border-radius: 20px;
}

.footer img{
  border: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}

.heading{
  background-color: #ff007f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  border-color: white;
}

h2 {
  color: #008a60;
  text-align: center;
  font-size: xx-large;
}

h2 a {
  color: #ff007f;
  
}

h2 a:hover {
  color: #008a60;
}

.headingText{
  color: white;
  background-color: #ff007f;
  font-size: 50px;
  padding: 0% 1%;
}
.headingTextTwo{
  color: white;
  background-color: #ff007f;
  padding: 0% 1%;
}

.icon{
  height: 50px;
}

.images{
  height: 100px;
}

.introText {
  color:white;
  font-size: 20px;
  padding: 2%;
  align-items: center;
}


.nav {
  margin: 10px;
  padding: 1%;
  display: inline-flex;
  background-color: #ff007f;
  border: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  font-size: 20px;
}

.navBar {
  text-align: center;
}

.navBar a {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.portrait{
  border-radius: 100px;
  border-color: white;
  max-height: 300px;
  padding: 5px;
}